header {
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 6px -4px #808080ff;

  h1 {
    margin: 0;
    padding-inline: 2rem;
    padding-block: 1.5rem;
    color: #15c1d1;
    font-family: Arial, sans-serif;
  }
}
